<!-- <div class="container">
    <div class="header">
        <ul>
            <li><img src="https://img.icons8.com/metro/16/c9c9c9/code.png"></li>
            <li>File</li>
            <li>Edit</li>
            <li>Selection</li>
            <li>View</li>
        </ul>
    </div>
    <div class="left-bar-editor-container">
        <div class="left-bar"></div>
        <div class="editor-container"> -->
            <ngx-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
        <!-- </div>
    </div>
    <div class="bottom-bar">

    </div>
</div> -->